@model SampleCRUD.Models.Users

@{
    ViewBag.Title = "Employee details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Employee Details</div>
    <table class="table">
        <tr>
            <td>Name: </td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Department: </td>
            <td>@Html.DisplayFor(model => model.Department)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
